{% extends 'dashboard.html' %}
{% load static %}
{% block style %}
<style>

</style>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12 grid-magin">
            {% csrf_token %}
            <div id="tableExample3" data-list=''>
                <div class="card">
                <div class="card-header d-flex justify-content-between">
                    <input class="search form-control" placeholder="Search" style="max-width: 400px" />
                    <a href="{% url 'products_form' %}" class="btn btn-light btn-sm ml-3 d-flex align-items-center" type="button">
                        <span class="bx bx-plus" data-fa-transform="shrink-3 down-2"></span>
                        <span class="d-none d-sm-inline-block ms-1">New Product</span>
                    </a>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="sort" data-sort="id"> # </th>
                                    <th class="text-center"> Product Image </th>
                                    <th class="text-center sort" data-sort="details"> Product details </th>
                                    <th class="text-center"> Action </th>
                                </tr>
                            </thead>
                            <tbody class="list">
                                {% for product in products %}
                                    <tr id="product-{{product.id}}">
                                        <td class="id"> {{forloop.counter}} </td>
                                        <td class="text-center">
                                            <img src="{{product.product_image.all.first.image.url}}"
                                                style="width: 60px; height: 60px;" alt="">
                                        </td>
                                        <td class="details">
                                            <div class="">
                                                <p style="font-size: 13px;"> Name : <span
                                                        style="font-weight: bold;">{{product.name}}</span>
                                                </p>
                                                <p style="font-size: 13px;"> Description :
                                                    <span class="d-inline-block text-truncate" style="max-width: 300px; font-style: italic; font-weight: bold;">
                                                        {{product.details}}
                                                    </span>
                                                </p>
                                                <p style="font-size: 13px;">Price : <span
                                                        style="font-weight: bold;">N{{product.price}}</span></p>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <a href="{% url 'products_form_update' product.id %}" class="btn btn-sm btn-light">Edit</a>
                                            <button id="deleteBtn" class="btn btn-sm btn-danger ml-4" data-id="{{product.id}}">Delete</button>
                                        </td>

                                    </tr>
                                {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="d-flex justify-content-center mt-3">
                        <button class="btn btn-sm btn-light me-1 prev" type="button" title="Previous" data-list-pagination="prev">
                            <span class="bx bx-chevron-left"></span>
                        </button>
                        <ul class="pagination mb-0"></ul>
                        <button class="btn btn-sm btn-light ms-1 next" type="button" title="Next" data-list-pagination="next">
                            <span class="bx bx-chevron-right"> </span>
                        </button>
                      </div>
                </div>
            </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
<script src="{% static 'assets/vendors/list.js/list.min.js' %}"></script>
<script !src="">
    // Initialize List.js
    var options = {
      valueNames: ['details', 'id'],
      page: 15,
      pagination: true
    };

    var userList = new List('tableExample3', options);

    // Keep track of the current page
    var currentPage = 1;

    // Function to update the current page when the user clicks on pagination buttons
    function updateCurrentPage() {
      var activePage = $('.pagination li.active').text(); // Get the active page number from pagination
      if (activePage) {
        currentPage = parseInt(activePage); // Update currentPage variable
      }
    }

    // Move to the next page
    function nextPage() {
      var totalPages = Math.ceil(userList.items.length / userList.page);
      updateCurrentPage();
      console.log(currentPage)
      console.log(userList.page)

      if (currentPage < totalPages) {
        userList.show((currentPage * userList.page)+1, userList.page);
      }
    }

    // Move to the previous page
    function prevPage() {
      updateCurrentPage(); // Ensure currentPage is up-to-date

      if (currentPage > 1) {
        userList.show((currentPage - 2) * userList.page + 1, userList.page);
      }
    }

    // Bind click events for next and previous buttons
    $('button.next').on('click', nextPage);
    $('button.prev').on('click', prevPage);

    // Track pagination clicks (if the user clicks on a page number)
    $('.pagination').on('click', 'li', function () {
      updateCurrentPage(); // Update the current page when user clicks a pagination button
    });


    $(document).on('click', '#deleteBtn', function() {
    var button = $(this);  // Store the clicked button reference

    Swal.fire({
        title: 'Delete Product',
        text: 'Are you sure you want to delete this product?',
        icon: 'question',
        showCancelButton: true,
        confirmButtonText: 'Yes, delete',
        cancelButtonText: 'Cancel',
        confirmButtonColor: '#f70909',
        customClass: {
            title: 'swal-title',
            text: 'swal-text',
        },
    }).then((result) => {
        if (result.isConfirmed) {
             $.ajax({
                url: `/products/${button.attr('data-id')}`,
                method: 'DELETE',
                headers: {
                    'X-CSRFToken': $('input[type=hidden]').val()
                },
                success: function(response) {
                    console.log('product deleted successfully');
                    $('#product-'+button.attr('data-id')).remove()
                    $('table tbody tr').each(function(index) {
                        $(this).find('td:first').text(index + 1);
                    });
                    Swal.close();
                },
                error: function(xhr, status, error) {
                    console.log('Error deleting product: ' + error);
                }
            });
        }
    });
});

</script>
{% endblock %}